:root {
  --ag-theme: ag-theme-alpine-dark;
  --login-background-color: #525252;
  --login-background-image: url(./assets/images/background-dark.png);
  --logo-image: url(./assets/images/logo-dark.svg);
  --interactive-01: #af144b;
  --interactive-02: #6f6f6f;
  --interactive-03: #ffffff;
  --interactive-04: #d13579;
  --ui-background: #262626;
  --ui-01: #393939;
  --ui-02: #434343;
  --ui-03: #525252;
  --ui-04: #8d8d8d;
  --ui-05: #f4f4f4;
  --text-01: #f4f4f4;
  --text-02: #c6c6c6;
  --text-03: #6f6f6f;
  --text-04: #ffffff;
  --text-05: #8d8d8d;
  --text-error: #ffb3b8;
  --icon-01: #f4f4f4;
  --icon-02: #c6c6c6;
  --icon-03: #ffffff;
  --link-01: #dc3872;
  --inverse-link: #0f62fe;
  --field-01: #393939;
  --field-02: #525252;
  --inverse-focus-ui: #0062ff;
  --inverse-hover-ui: #e5e5e5;
  --inverse-01: #161616;
  --inverse-02: #f4f4f4;
  --support-01: #ff8389;
  --support-02: #24a148;
  --support-03: #fdd13a;
  --support-04: #054ada;
  --inverse-support-01: #da1e28;
  --inverse-support-02: #42be65;
  --inverse-support-03: #f1c21b;
  --inverse-support-04: #4589ff;
  --overlay-01: rgba(22, 22, 22, 0.7);
  --focus: #ffffff;
  --hover-primary: #c3266b;
  --active-primary: #991850;
  --hover-primary-text: #9f1853;
  --hover-secondary: #606060;
  --active-secondary: #393939;
  --hover-tertiary: #f4f4f4;
  --active-tertiary: #c6c6c6;
  --hover-ui: #4c4c4c;
  --active-ui: #bebebe;
  --selected-ui: #525252;
  --hover-selected-ui: #656565;
  --danger: #da1e28;
  --hover-danger: #ba1b23;
  --active-danger: #750e13;
  --hover-row: #4c4c4c;
  --visited-link: #be95ff;
  --disabled-01: #393939;
  --disabled-02: #6f6f6f;
  --disabled-03: #a8a8a8;
  --highlight: #f1cbd8;
  --skeleton-01: #353535;
  --skeleton-02: #525252;
  --brand-01: #0062ff;
  --brand-02: #171717;
  --brand-03: #0062ff;
  --active-01: #bebebe;
  --kpi-color-01: rgb(61, 86, 36);
  --kpi-color-02: rgb(8, 132, 4);
  --kpi-color-03: rgb(122, 173, 71);
  --kpi-color-04: rgb(74, 133, 34);
  --kpi-color-05: rgb(142, 194, 106);
  --kpi-color-06: rgb(238, 126, 114);
  --kpi-color-07: rgb(178, 94, 85);
  --kpi-color-08: rgb(247, 191, 185);
  --kpi-color-09: rgb(193, 224, 192);
  --kpi-color-10: #af144b;
  --kpi-color-11: #d13579;
  --kpi-color-12: #c3266b;
}
